<head xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <title>study vue</title>
    <meta charset="utf-8">

</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
    </div>
    <div id="app-3">
        <p v-if="seen">Now,you see me!</p>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })

        var app2= new Vue({
            el : '#app-2',
            data:{
                message:'页面加载于'+new Date().toLocaleDateString()
            }
        })
        var app3= new Vue({
            el:'#app-3',
            data:{
                seen:true
            }
        })
        var app4=new Vue({
            el :'#app-4',
            data:{
                todos:[
                    {text:'study javascript'},
                    {text:'study Vue'},
                    {text:'我最nb！'}
                ]
            }
        })

        var app5=new Vue({
            el:'#app-5',
            data:{
                message:'hello Vue.js'
            },
            methods:{
                reverseMessage:function () {
                    this.message=this.message.split('').reverse().join('')

                }
            }
        })

        var app6=new Vue({
            el:'#app-6',
            data:{
                message:'Hello Vue!'
            }
        })
    </script>

</body>